@import '../../../../styles.scss';

.add-story {
  padding: 15px;
}

.btn-primary {
  @include button-base;
  background: $primary-color;

  &:disabled {
    opacity: 50%;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: darken($primary-color, 10%);
  }
}
