@import '../../../../styles.scss';

.sprint-calculator {
  padding: 15px;
  // width: 100%;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-primary {
  @include button-base;
  background: $primary-color;

  &:disabled {
    background: #ccc;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: darken($primary-color, 10%);
  }
}

.btn-secondary {
  @include button-base;
  background: $secondary-color;

  &:hover {
    background: darken($secondary-color, 10%);
  }
}

.btn-danger {
  @include button-base;
  background: $danger-color;

  &:hover {
    background: darken($danger-color, 10%);
  }
}
